services:
  edge_station_regiona:
    build: .
    container_name: edge_station_regionA
    environment:
      EDGE_REGION: "regionA"
      NATS_URL: "nats://nats:4222"   # change to remote URL if needed
    depends_on:
      - nats
    restart: unless-stopped

  edge_station_regionb:
    build: .
    container_name: edge_station_regionB
    environment:
      EDGE_REGION: "regionB"
      NATS_URL: "nats://nats:4222"
    depends_on:
      - nats
    restart: unless-stopped

  # Shared NATS server for Edge (can be removed if Edge connects to remote IoT NATS)
  nats:
    image: nats:latest
    container_name: nats
    ports:
      - "4223:4222"  # Exposed on a different port than IoT if you want to avoid conflicts
    restart: unless-stopped
